/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Style for the container of letter boxes */
.letter-boxes {
  display: flex; /* Utiliser flexbox pour aligner les boîtes horizontalement */
  justify-content: center; /* Centrer horizontalement les boîtes */
}

/* Style for each letter box */
.letter-box {
  width: 40px; /* Largeur de chaque boîte */
  height: 40px; /* Hauteur de chaque boîte */
  border: 1px solid #000; /* Bordure noire */
  margin: 5px; /* Marge autour de chaque boîte */
  display: flex; /* Utiliser flexbox pour centrer verticalement le contenu */
  justify-content: center; /* Centrer horizontalement le contenu */
  align-items: center; /* Centrer verticalement le contenu */
  background-color: aquamarine;
}

.container {
  text-align: center; /* Centrer le contenu horizontalement */
}
